# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
*.log*

# Ignore Byebug command history file.
.byebug_history

# gemは無視
/vendor/bundle
.DS_Store

# RubyMineが勝手に作ってしまうファイル
.idea

pkg
